// Elements
@use './element/input.scss';
@use './element/button.scss';
@use './element/image.scss';
@use './element/icon.scss';


.preview {
	padding: 2em;
	border-radius: 0.25rem;
	background-color: #ededed;
}
