// Elements
@use "./element/input.scss";
@use "./element/button.scss";
@use "./element/image.scss";
@use "./element/icon.scss";
@use "./element/anchor.scss";

// Layout
@use "./layout/grid.scss";
@use "./layout/container.scss";

@use "./base";

body {
	box-sizing: border-box;

	* {
		&,
		&:before,
		&:after {
			box-sizing: inherit;
		}
	}
}

.preview {
	box-sizing: border-box;
	padding: 2em;
	border-radius: 0.25rem;
	background-color: #ededed;
}
