@mixin base {
    display: grid;
    gap: 2rem;
}

@mixin columns-1 {
    grid-template-columns: 1fr;
}

@mixin columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

@mixin columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

@mixin columns-4 {
    grid-template-columns: repeat(4, 1fr);
}
